* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      height: 100vh;
      background: linear-gradient(135deg, #fde9ed, #ffd6f0);
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'Poppins', sans-serif;
      overflow: hidden;
    }

    .heart {
      font-size: 80px;
      cursor: pointer;
      transition: transform 0.4s ease;
      user-select: none;
    }

    .heart:hover {
      transform: scale(1.2);
    }
    .memes{
 margin-top: 20px;
 justify-self: center;
        backdrop-filter: blur(10px);
      animation: fadeIn 1s ease forwards;
      z-index: 2;
    }
    .memes button{
        cursor: pointer;
        background-color: #f1a5e1;
        font-size: 14px;
        font-weight: 500;
        color: #8b1564;
        padding: 5px;
        width: 200px;
        height: 40px;
        border-radius: 30px;
        border: none;
    }
    .letter {
      display: none;
      flex-direction: column;
      gap: 1rem;
      text-align: center;
      max-width: 800px;
      color: #4a4a4a;
      font-size: 1.1rem;
      line-height: 1.6;
      padding: 20px;
      background: rgba(255, 255, 255, 0.5);
      border-radius: 16px;
      backdrop-filter: blur(10px);
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      animation: fadeIn 1s ease forwards;
      z-index: 2;
    }

    .line {
        color: #db758a;
      opacity: 0;
      transform: translateY(10px);
      animation: showLine 1s forwards;
    }

    @keyframes showLine {
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }

    @keyframes fadeIn {
      from { opacity: 0; transform: scale(0.9); }
      to { opacity: 1; transform: scale(1); }
    }
    .bold{
        font-weight: bold;
        color: rgb(228, 89, 89);
    }
      .heart-fall {
      position: absolute;
      top: -10px;
      color: #ff7aa2;
      font-size: 20px;
      animation: fall 6s linear infinite;
      opacity: 0.8;
      z-index: -1;
    }
    .image-fall {
  position: absolute;
  top: -10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  animation: fall 6s linear infinite;
  opacity: 0.9;
  z-index: -1;
}

    @keyframes fall {
      0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
      }
      100% {
        transform: translateY(110vh) rotate(360deg);
        opacity: 0;
      }
    }